* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4f46e5;
  --primary-dark: #4338ca;
  --bg: #f9fafb;
  --text: #1f2937;
  --card: #ffffff;
  --border: #e5e7eb;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;

  background-image: url('./assets/OBZY0U0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--text);
}
